<!-- Foot -->
<!-- Three column footer -->

<div class="foot">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="padd">
					<!-- Add class "widget" -->
					<div class="widget">
						<!-- Title -->
						<h3>Morbi dictum nibh gravida</h3>
						<!-- Content -->
						<!-- Below is the blockquote -->
						<blockquote>
							<p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. </p>
							<!-- Author information -->
							<small>Ashok</small>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="padd">
					<div class="widget">
						<h3>Sed a interdum mauris</h3>
						<ul>
							<li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
							<li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
							<li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
							<li><a href="#">Vivamus scelerisque dui in massa</a></li>
							<li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="padd">
					<div class="widget">
						<h3>Service</h3>
						<ul>
							<li><a href="#">Sed eu leo gravida metus</a></li>
							<li><a href="#">Etiam at rhoncus purus</a></li>
							<li><a href="#">Fusce vel dapibus facilisis</a></li>
							<li><a href="#">Vivamus scelerisque dui in massa</a></li>
							<li><a href="#">Pellentesque eget  dui semper</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Copyright information -->
				<div class="fpadd">Copyright &copy; 2015 - <a href="#">PBDesk.com</a> | <a href="#">Disclaimer</a> | @Html.ActionLink("Admin", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
				<div class="fpadd pull-right"> </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</footer>

