<div class="sharepanel">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="padd spara">
					<!-- Small para -->
					<p>from the desk of Pinal Bhatt </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="padd">
					<div class="social">
						<!-- Social media icons. Repalce # with your profile links -->
						<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
						<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
						<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<!-- Header -->
<!-- Fixed Bar -->

<div class="fixedbar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="logo">
					<div class="pull-left">
						<!-- Logo with font awesome icon. Replace it with your logo. Replace # with your site link -->
						<h1><a href="/"><i class="fa fa-camera-retro"></i> Channel 9</a></h1>
					</div>
					<div class="navi">
						<!-- Navigation Starts Here -->
						<div class="pull-left">
							<div id="ddtopmenubar" class="mattblackmenu">
								<!-- Main navigation -->
								<ul>
									<!-- Add rel="ddsubmenu{count}" to main menu -->
									<li>
										<a href="/" rel="ddsubmenu1"><i class="fa fa-home fa-lg"></i></a>
										<!-- Sub navigation, A -->
										<!-- Add id "ddsubmenu{count} and class "ddsubmenustyle" -->
										<ul id="ddsubmenu1" class="ddsubmenustyle">

											<li><a href="index.html">Flex Slider</a></li>
											<li><a href="index-wt-slider.html">Without Slider</a></li>
											<li><a href="index-full-width.html">Full Width</a></li>
										</ul>
									</li>
									<li>
										<a href="0-base.html" rel="ddsubmenu3">Pages</a>
										<!-- Sub navigation -->
										<ul id="ddsubmenu3" class="ddsubmenustyle">
											<li><a href="feature.html">Features</a></li>
											<li><a href="service.html">Services</a></li>
											<li>
												<a href="0-base.html">More...</a>
												<ul>
													<li><a href="0-base.html">Blank Page</a></li>
													<li><a href="feature.html">Features</a></li>
													<li><a href="service.html">Services</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<!-- Main navigation -->
									<li>
										<a href="blog.html" rel="ddsubmenu2">Blog</a>
										<!-- Sub Navigation -->
										<ul id="ddsubmenu2" class="ddsubmenustyle">
											<li><a href="blog.html">Blog</a></li>
											<li><a href="blog-single.html">Blog Single</a></li>
										</ul>
									</li>
									<li>
										<a href="portfolio.html" rel="ddsubmenu2">Portfolio</a>
										<!-- Sub navigation -->
										<ul id="ddsubmenu2" class="ddsubmenustyle">
											<li><a href="portfolio.html">Portfolio #1</a></li>
											<li><a href="portfolio-big.html">Portfolio #2</a></li>
										</ul>
									</li>
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
								</ul>
							</div>
						</div><!--/ Navigation Ends Here -->
					</div>
				</div>
				<div class="share">
					<div class="pull-right">
						<!-- Share it link for slider -->
						<p><a href="#" class="open"><span class="hidden-xs">Share it <i class="fa fa-share"></i></span></a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<!-- Fixed Bar End -->
<!-- Main content -->

